*{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

header{
    display: flex;
    width: 100%;
    
    margin-bottom: 0px;

}

.nav{
    display: flex;
    margin: auto;
    
    
    
}

.nav ul{
    display: flex;
    margin: auto;
    list-style: none;
}

.nav ul li{
    padding: 1rem;
}
#abouticon{
    width: 35px;
    height: 35px;
    margin-top: -10px;
}
#homepageicon{
    width: 40px;
    height: 40px;
    margin-top: -10px;
}
#projectsicon{
    width: 35px;
    height: 35px;
    margin-top: -10px;
}
h1{
    width: 50%;
    margin-left: 5rem;
    margin-bottom: 0px;
   
}

.banner1{
    
    height: 500px;
    margin-top: 0;
    display: flex;
    align-items: center;
    background-image: url(./19742.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.about{
    margin-left: 10rem;
    width: 40%;
}
#hello{
    font-size: 1.25rem;
    letter-spacing: 6px;
    color: #9A531D;
    font-weight: 400;
}

#joao{
    font-size: 4rem;
    letter-spacing: 3px;
    color: #0D2149;
    

}
#david{
    font-size: 4rem;
    margin-top: -50px;
    margin-left: 70px;
    letter-spacing: 3px;
    color: #0D2149;
}
#spell{
 margin-top: -50px;
 font-size: 1.1rem;
 margin-left: 50px;
}
#desc{
    font-size: 1.5rem;
    font-weight: bold;

}

.profile{
width: 50%;

height: 500px;
display: flex;
align-items: center;

}

#author{
    width: auto;  
    height: 500px;
    opacity: 1;

}

.skills{
    width: 30%;
    height: 500px;
}

#aboutbutton{
    background-color:#1a3c80;
    color: aliceblue;
    padding: 15px 15px;
    width: 170px;
    text-align: center;
    font-weight: 600;
    border-radius: 1rem;
    margin-left: 20px;
}